{%extends "shablon.html"%}

{% block Title%}

{%endblock%}

{% block Body%}
         

<main>

    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Leave your feedback or wish.</h1>
        <p class="col-md-8 fs-4">Speak out.</p>
          
          {% with messages = get_flashed_messages() %}
            {% if messages %}
    <div class="notification is-danger">
        {{ messages[0] }}. If you want you can subscribe <a href="{{url_for('pricing') }}">to our service</a>
    </div>
            {% endif %}
            {% endwith %}
          
    <form action="/feedback" method="post" class="form-contact">
            {{form.hidden_tag()}}
              <p>

              {{form.name.label}}<br>
              {{form.name(size=32)}}<br>
              {%for error in form.name.errors%}
              <span style="color : red;">[{{error}}]</span>
              {%endfor%}
              </p>
          <p>

              {{form.email.label}}<br>
              {{form.email(size=64)}}<br>
              {%for error in form.email.errors%}
              <span style="color : red;">[{{error}}]</span>
              {%endfor%}
              </p>
           <p>

              {{form.feed.label}}<br>
              {{form.feed(size=256)}}<br>
              {%for error in form.feed.errors%}
              <span style="color : red;">[{{error}}]</span>
              {%endfor%}
              </p>
           <p>{{form.submit()}}</p>
        </div>
    </div>
            </form>
  </div>
</main>





</body>
{% endblock%}
