{%extends "shablon.html"%}

{% block Title%}

{%endblock%}

{% block Body%}

<main>

    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Leave your feedback or wish.</h1>
        <p class="col-md-8 fs-4">Speak out.</p>
          <form method="post">
              <div class="form-floating">
      <input type="text" class="form-control" name="name" id="name" placeholder="Name">
      <label for="name">Name</label>
    </div>
    <div class="form-floating">
      <input type="text" class="form-control" name="email" id="email" placeholder="Email">
      <label for="email">Email</label>
    </div>
          <div class="form-floating">
      <input type="text" class="form-control" name="feedback" id="feedback" placeholder="Feedback">
      <label for="feedback">Feedback</label>
    </div>
          <button class="w-100 btn btn-lg btn-primary" type="submit">Post.</button></form>
        </div>
    </div>
            </form>
  </div>
</main>





</body>
{% endblock%}