{%extends "shablon.html"%}

{% block Title%}

{%endblock%}

{% block Body%}

<main>
<input type="hidden" name="next" value="{{request.args.get('next',) }}"/>
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Sing up now.</h1>
        <p class="col-md-8 fs-4">Sing up.</p>
          {% with messages = get_flashed_messages() %}
            {% if messages %}
    <div class="notification is-danger">
        {{ messages[0] }}.
    </div>
            {% endif %}
            {% endwith %}
          <form method="post" action="/login">
     {{form.hidden_tag()}}
              <p>
              {{form.email.label}}<br>
              {{form.email(size=64)}}<br>
              </p>
              <p>
              {{form.password.label}}<br>
              {{form.password(size=32)}}<br>
              </p>
              <p>
              {{form.remember_me()}}{{form.remember_me.label}}<br>
              {{form.submit()}}<br>

              </p>
        </div>
        </form>
  </div>
</main>





</body>
{% endblock%}