{%extends "shablon.html"%}

{% block Title%}

{%endblock%}

{% block Body%}
<body class="d-flex h-100 text-center text-bg-dark">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>

      <h3 class="float-md-start mb-0">Records&Papers</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <div class="container">
        <a class="py-2 d-none d-md-inline-block" href="/records">Records</a>
    <a class="py-2 d-none d-md-inline-block" href="/papers">Papers</a>
    <a class="py-2 d-none d-md-inline-block" href="/feedback">Feedback</a>
    <a class="py-2 d-none d-md-inline-block" href="/about">About</a>
        </div>
      </nav>
    </div>
  </header>

  <main class="px-3">
    <h1>Records&Papers.</h1>
    <p class="lead">Records&Papers is designed for searching and buying literature and music records. And also to find like-minded people in the field of art and culture.</p>

    <p><p> <article class="blog-post">
    <h5 class="blog-post-title mb-1">New old time.</h5>

        <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>
        <p>This is some additional paragraph placeholder content. It's a slightly shorter version of the other highly repetitive body text used throughout.</p>
      </article>
    </p></p>

    <p class="lead">
      <a href="/search" class="btn btn-warning">Records&Papers Search</a>
    </p>

  </main>


  <p> <p> <p><p> <p> <p><p> <p> <p><p> <p> <p><p> <p>
  <footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img" viewBox="0 0 24 24"><circle cx="12" cy="12" r="10"></circle><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"></path></svg>
      <small class="d-block mb-3 text-muted">© 2001–2022</small>
</div>
      </div>
</footer>
  </p></p></p></p></p></p></p></p></p></p></p></p></p></p>
</div>

</body>


{%endblock%}
