{%extends "shablon.html"%}

{% block Title%}

{%endblock%}

{% block Body%}
<body>

<main>
    {% for el in pap[0:11] %}
<div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">{{el.title[2:]}}</h2>
        <p class="lead">{{el.description}}</p>
      </div>
      <a class="btn btn-outline-secondary" href="/paper/{{el.id}}">More.</a>
  {%   endfor  %}

 </main>
</body>
{% endblock%}

